.card-image-wrapper {
  flex-shrink: 0;
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.card-image-wrapper > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.card-header-right-block {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-title,
.card-price {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32;
}

.icon-favorite {
  cursor: pointer;
}

.card-wrapper-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.card-info {
  display: flex;
  align-items: center;
  gap: 7px;
}

.card-rating,
.card-location {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-reviews {
  text-decoration: underline;
}

.card-description {
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

@media screen and (min-width: 380px) {
  .features {
    justify-content: flex-start;
  }
  .card-rating,
  .card-location {
    font-size: 16px;
  }
  .card-info {
    gap: 16px;
  }
  .card-content {
    align-items: flex-start;
  }
}

@media screen and (min-width: 480px) {
  .card-title,
  .card-price {
    font-size: 20px;
  }
  .icon-favorite {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .card-image-wrapper {
    width: 290px;
    height: 320px;
  }
}

@media screen and (min-width: 1220px) {
  .card-title,
  .card-price {
    font-size: 24px;
  }
}
